<h1>Welcome to Title Case</h1>
<form action="/title5">
  <div class="form-group">
     <label for="title">What would you like to see in title case?
</label>
     <input id="final_title" name="title7" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
